---
layout: default
---
<!--<img src="/images/header.jpg" />-->

<p class="blocktext">
Bot@HWR ist ein fachbereichsübergreifendes Vorhaben mit dem Ziel den Forschungsschwerpunkt Robotik an der Hochschule für Wirtschaft und Recht Berlin auszubauen. Es sollen anwendungsorientierte und interdisziplinäre Forschungsprojekte initiiert werden um insbesondere neue Robotik-Anwendungsfelder zu ergründen. Im Fokus steht dabei zunächst der Sektor Pflege und Gesundheit. Zum Projektbeginn stehen für das Erstellen von Prototypen zwei modulare Roboterbaukastensysteme (Volksbot) des Fraunhofer IAIS zur Verfügung. Die fachlichen Schwerpunkte des interdisziplinären Teams liegen in der Robotik, Diversity-Strategien und in Partizipativer Softwareentwicklung.
</p>



<table class="gapped">
    <tbody>
    <tr>
        <td>Zuwendungsempfänger:</td>
        <td><a href="http://www.hwr-berlin.de/" target="_blank">Hochschule für Wirtschaft und Recht Berlin</a></td>
    </tr>
    <tr>
        <td>Fördergeber:</td>
        <td><a href="http://www.ifaf-berlin.de/" target="_blank">Institut für angewandte Forschung Berlin e.V.</a></td>
    </tr>
    <tr>
        <td>Zeitraum:</td>
        <td>seit 01.10.2016</td>
    </tr>
    <tr>
        <td>Beteiligte Personen:</td>
        <td>
            <ul class="plain">
                <li><a href="http://www.heike-wiesner.de/" target="_blank">Prof. Dr. Heike Wiesner</a> (Projektleitung)</li>
                <li><a href="http://www.monettdiaz.com/" target="_blank">Prof. Dr. Dagmar Monett Diaz</a></li>
                <li><a href="http://www.hwr-berlin.de/fachbereich-wirtschaftswissenschaften/kontakt/personen/kontakt-info/2987/" target="_blank">Holger Zimmermann</a></li>
                <li><a href="https://www.researchgate.net/profile/Hermann_Stolte" target="_blank">Hermann Stolte</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Verwandte Projekte</td>
        <td>
            <ul class="plain">
                <li>MINT4HWR</li>
                <li>Roberta</li>
                <li>Partizipative Gestaltung technologieunterstützter Lernszenarien</li>
            </ul>
        </td>
    </tr>
    <!--<tr>
        <td></td>
        <td style="text-align: right"><a href="" target="_blank">&#8594; Projektdetails</a></td>
    </tr>-->
    </tbody>
</table>

<h2>Aktuelles</h2>

<div class="posts">
    {% for post in site.posts %}
    <article class="post">

        <h3>{{ post.title }}</h3>

        <div class="entry">
            {{ post.content }}
        </div>

    </article>
    {% endfor %}
</div>

<!--<div class="posts">
    <!--{% for post in site.posts %}
    <ul class="plain">

        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%d.%m.%Y" }} - {{ post.title }}</a></li>
    </ul>
    {% endfor %}-->
<!--</div>-->


<h2>Volksbot-Roboterbaukastensystem</h2>
<p>Das <a href="http://www.volksbot.de/" target="_blank">Volksbot-System</a> ist eine modular aufgebaute Hardwareplattform zum Erstellen von Roboter-Prototypen. Es setzt sich aus einer Basiskomponente, vier Rädern (davon zwei mit Antrieb), einer Stromversorgung (Akku), einem Laserscanner und einem Greifarm zusammen. Für die Nutzung im Rahmen von Bot@HWR stehen zwei baugleiche Roboter zur Verfügung.</p>
<img src="/images/volksbot_1.jpg" />
<img src="/images/volksbot_2.jpg" />
<!--<h2>Publikationen</h2>-->

